.slide-intro {
    swiper-slide {
        height: 630px;
    }
    a {
        display: flex;
        justify-content: center;
        height: 630px;
    }
    img {
        height: 100%;
    }
    p {
        font-size: ;
        position: absolute;
    }
}