.slide-intro {
    swiper-slide {
        height: 624px;
    }
}

.inner {
    margin: 0 20px;
}

.main-tit {
    @include pop-bold;
}

.main-tit-sub {
    @include p-regular;
}

.essence-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-top: 50px;

    li {
        display: flex;
        margin: 7px;
        height: 166px;
        width: 166px;

        &:nth-child(2),
        &:nth-child(4) {
            transform: translateY(80px);
        }

        &:nth-child(5) {
            transform: translateX(-90px);
        }

        a {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: $gray-100;

            &::before {
                margin: 0 auto;
                display: block;
                content: '';
                width: 60px;
                height: 60px;
            }

            &:hover {
                background: $primary;

                .essence-name {
                    color: $white;
                }

                // .essence-name {
                //     display: none;
                // }
                // .essence-txt {
                //     color: $white;
                //     text-align: center;
                //     font-size: 14px;
                //     margin: 20px 20px 0;
                //     display: block;
                // }
            }
        }
    }

    .essence-txt {
        display: none;

    }

    .essence-name {
        margin-top: 20px;
        color: $txtDefult;
        font-size: 14px;
        font-weight: 700;
    }
}

.essence-list {
    .contractor a::before {
        background-image: url(../../images/icon/e-contractor.png);
    }

    .staff a::before {
        background-image: url(../../images/icon/e-staff.png);
    }

    .sha a::before {
        background-image: url(../../images/icon/e-sha.png);
    }

    .customer a::before {
        background-image: url(../../images/icon/e-customer.png);
    }

    .society a::before {
        background-image: url(../../images/icon/e-society.png);
    }

    // hover
    .contractor a:hover::before {
        background-image: url(../../images/icon/h-contractor.png);
    }

    .staff a:hover::before {
        background-image: url(../../images/icon/h-staff.png);
    }

    .sha a:hover::before {
        background-image: url(../../images/icon/h-sha.png);
    }

    .customer a:hover::before {
        background-image: url(../../images/icon/h-customer.png);
    }

    .society a:hover::before {
        background-image: url(../../images/icon/h-society.png);
    }
}

.sec-perf {
    background: $gray-100;
}

.count-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px 0px;
    margin-top: 60px;
    // background: #ddd;

    li {
        position: relative;
        width: 180px;
        height: 120px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0.5px;
            opacity: 0.5;
            background: $gray-200;
        }

        // &:nth-child(1) .perf-txt::before {
        //     background-image: url(../../images/icon/factory_FILL1_wght400_GRAD0_opsz20.svg);
        // }
        .icon-txt {
            margin-top: 20px;
            gap: 7px;
            display: flex;
        }

        .perf-txt {
            color: $gray-300;
            font-size: 14px;
            display: flex;
        }

        .material-symbols-rounded {
            font-size: 20px;
            color: $gray-200;
        }

        // .perf-txt::before {
        //     display: block;
        //     content: '';
        //     width: 20px;
        //     height: 20px;

        // }
        p {
            display: flex;
            align-items: baseline;
            margin-top: 7px;
            gap: 7px;

            em {
                font-size: 50px;
            }

            span {
                font-size: 14px;
            }
        }
    }
}

.sec-biz {
    .biz-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;
    }

    .biz-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 100px;

        &:nth-child(2),
        &:nth-child(4) {
            transform: translateY(200px);
        }
    }

    .biz-marketo,
    .biz-bio {
        margin: 0;
    }

    img {
        border-radius: 10px;
        height: 356px;
        width: 170px;
    }

    .biz-snack-img {
        object-fit: cover;
        object-position: 50% 100%;
    }

    .biz-dryou-img {
        object-fit: cover;
        object-position: 75% 100%;
    }

    .biz-marketo-img {
        object-fit: cover;
        object-position: 50% 100%;
    }

    .biz-bio-img {
        object-fit: cover;
        object-position: 45% 100%;
    }

    .biz-txt {
        width: 170px;
        text-align: center;
        margin-top: 15px;

        .biz-poppins {
            @include pop-bold-s;
        }

        p {
            padding: 0 20px;
            @include p-regular;
            margin-top: 12px;

            span {
                display: block;
            }
        }
    }
}

.sec-news {
    background: $gray-100;

    .inner {
        margin: 0;
    }

    .news-tit {
        text-align-last: left;
        margin: 0 20px;

        a {
            display: flex;

            .material-symbols-rounded {
                font-size: 30px;
            }
        }
    }

    .tit-and-more {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .w-full {
        width: 100%;
    }

    .news-list {
        // Internet Explorer
        -ms-overflow-style: none;

        // WebKit (Chrome, Safari) 스크롤바 감추기
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .news-list {
        // scrollbar-width: none;
        // -ms-overflow-style: none;
        overflow-y: clip;
        overflow-x: auto;
        display: flex;
        gap: 14px;
        margin-left: 20px;
        margin-top: 60px;

        .list {
            &:nth-child(3) {
                margin-right: 20px;
            }
        }

        a {}

        img {
            display: block;
            border-radius: 10px;
            width: 295px;
            height: 205px;
        }

        .new-img1 {
            object-fit: cover;
            object-position: 50% 100%;
        }

        .new-img2 {
            object-fit: cover;
            object-position: 50% 50%;
        }

        .new-img3 {
            object-fit: cover;
            object-position: 50% 100%;
        }

        .news-txt {
            width: 295px;
            text-align: left;
            margin-top: 5px;

            .txt-primary {
                @include p-bold;
                font-size: 14px;
                color: $primary;
            }

            .txt-body {

                @include p-bold;
                font-size: 14px;
                margin-top: 3px;
                color: $txtDefult;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.sec-cooperation {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../images/main/cooper.png);
        background-repeat: no-repeat;
        object-fit: cover;
        // 교보 이노스테이지 보고 포토샵에서 이미지 크기 맞추기
    }

    .cooper-tit {
        position: relative;
        @include p-bold;
        font-size: 30px;
        line-height: 46px;
        color: $white;

        h2 {
            position: absolute;
            overflow: hidden;
            text-indent: -9999px;
        }

        span {
            display: block;
        }

    }

    .btn-area {
        position: relative;
        margin-top: 60px;

        a {
            gap: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 125px;
            height: 36px;
            border-radius: 50px;
            background: $txtDefult;
        }

        .btn-area-txt {
            font-size: 14px;
            color: $white;
        }

        .material-symbols-rounded {
            font-size: 16px;
            color: $white;
        }
    }
}

#footer {
    background: $gray-300;

    .inner {
        padding: 80px 0;
    }

    .menu-list {
        margin-top: 60px;

        li {
            @include p-bold;
            font-size: 18px;
            margin-top: 15px;

            &:nth-child(1) {
                margin: 0;
            }
        }

        a {
            color: $white;
        }
    }

    .address-list {
        margin-top: 60px;

        li {
            line-height: 24px;
            font-size: 14px;
            color: $gray-200;
        }
        span {
            color: $white;
        }
    }
    .bottom {
        margin-top: 20px;
        font-size: 12px;
        color: $gray-200;
    }

    .sns {
        margin-top: 20px;

        .sns-list {
            display: flex;
            gap: 16px;
        }
    }

}