@import 'variables', 'mixins', 'fonts', 'reset';

// 스타일별로 모아두기
// btn style 
// card style
// list style

// layout

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

#header {
    .inner {
        display: flex;
        justify-content: space-between;
    }

}

#main {
    .slide-intro {
        position: relative;
        z-index: 1000;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .link-intro {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .intro-inner {
                color: $white;
                text-align: center;
                position: absolute;
                top: 168px;
            }

            .intro-tit {
                @include p-bold;
            }

            .intro-txt {
                font-size: 14px;
                margin-top: 30px;
            }

        }
    }
    
}


// footer
// body {
//     background: url(../../images/1.png) no-repeat 50% 0;
// }

// .wrap {
//     opacity: 0.8;
// }

@import 'main', 'sub1';
// 우선순위로 먹혀야 하기 때문에 밑으로 들어감