@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(../fonts/Poppins-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "pretendard", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #212126;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 420px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

#header .inner {
  display: flex;
  justify-content: space-between;
}

#main .inner {
  padding: 80px 0;
}
#main .sec-perf .inner {
  padding: 70px 0;
}

#main .slide-intro {
  position: relative;
  z-index: 1000;
}
#main .slide-intro img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .slide-intro .link-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#main .slide-intro .link-intro .intro-inner {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 168px;
}
#main .slide-intro .link-intro .intro-tit {
  font-size: 40px;
  font-weight: 700;
}
#main .slide-intro .link-intro .intro-txt {
  color: #F6F7F8;
  font-size: 14px;
  margin-top: 30px;
}

.slide-intro swiper-slide {
  height: 624px;
}

.inner {
  margin: 0 20px;
}

.main-tit {
  font-family: "poppins";
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.main-tit-sub {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  color: #57575B;
}

.essence-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: auto;
  width: auto;
  margin-top: 50px;
}
.essence-list li {
  display: flex;
  margin: 7px;
  height: 166px;
  width: 166px;
}
.essence-list li:nth-child(2), .essence-list li:nth-child(4) {
  transform: translateY(80px);
}
.essence-list li:nth-child(5) {
  transform: translateX(90px);
}
.essence-list li a {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F6F7F8;
}
.essence-list li a::before {
  margin: 0 auto;
  display: flex;
  content: "";
  width: 60px;
  height: 60px;
}
.essence-list li a:hover {
  background: #E30512;
}
.essence-list li a:hover .essence-name {
  color: #fff;
}
.essence-list .essence-txt {
  display: none;
}
.essence-list .essence-name {
  margin-top: 20px;
  color: #212126;
  font-size: 14px;
  font-weight: 700;
}

.essence-list .contractor a::before {
  background-image: url(../../images/icon/e-contractor.png);
}
.essence-list .staff a::before {
  background-image: url(../../images/icon/e-staff.png);
}
.essence-list .sha a::before {
  background-image: url(../../images/icon/e-sha.png);
}
.essence-list .customer a::before {
  background-image: url(../../images/icon/e-customer.png);
}
.essence-list .society a::before {
  background-image: url(../../images/icon/e-society.png);
}
.essence-list .contractor a:hover::before {
  background-image: url(../../images/icon/h-contractor.png);
}
.essence-list .staff a:hover::before {
  background-image: url(../../images/icon/h-staff.png);
}
.essence-list .sha a:hover::before {
  background-image: url(../../images/icon/h-sha.png);
}
.essence-list .customer a:hover::before {
  background-image: url(../../images/icon/h-customer.png);
}
.essence-list .society a:hover::before {
  background-image: url(../../images/icon/h-society.png);
}

.sec-perf {
  background: #F6F7F8;
}

.count-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px 0px;
  margin-top: 60px;
}
.count-list li {
  position: relative;
  width: 180px;
  height: 120px;
}
.count-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  opacity: 0.5;
  background: #C3C3C5;
}
.count-list li .icon-txt {
  margin-top: 20px;
  gap: 7px;
  display: flex;
}
.count-list li .perf-txt {
  color: #57575B;
  font-size: 14px;
  display: flex;
}
.count-list li .material-symbols-rounded {
  font-size: 20px;
  color: #C3C3C5;
}
.count-list li p {
  display: flex;
  align-items: baseline;
  margin-top: 7px;
  gap: 7px;
}
.count-list li p em {
  font-size: 50px;
}
.count-list li p span {
  font-size: 14px;
}/*# sourceMappingURL=comm.css.map */